/* #region common */
:root {
    --secondary-color: #ffffff;
    --main-color: #7c69a4;
    --background-color: #F6F5F3;
    --text-secondary-color: #4e3969;

}

*::after,
*::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

body {
    background-color: var(--background-color);
}

section {
    padding-bottom: 2rem;
}

.d-flex {
    display: flex;
}

.bttn {
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    padding: 0.5rem 3rem;


}

.social-buttons {
    padding: 2rem 0;
    justify-content: space-between;

}



/* #region debug */

.debug {

    * {
        border: 2px dotted green;
    }

    header {
        background-color: red;

        * {
            background-color: green;
        }
    }

    main {
        background-color: blue;

        * {
            background-color: yellow;
        }

    }

    footer {
        background-color: orange;

        section {
            background-color: orange;

            div {
                background-color: red;

                a {
                    background-color: black;
                }
            }
        }
    }
}

/* #endregion debug */

/*#endregion common*/

/*#region header*/

header {
    background-color: var(--secondary-color);

    & h1 {
        font-family: 'Nerko One', cursive;
        color: rgb(255, 145, 0);
    }

}

/*#endregion header*/

/*#region main*/

main {
    section {
        width: 65%;
        margin: auto;

        div {
            h4 {
                color: grey;
                font-size: small;
            }

            h1 {
                color: var(--text-secondary-color);
                font-size: 2rem;
            }
        }

        container {
            background-color: var(--secondary-color);
            border-radius: 0.3rem;

            div {
                flex-direction: column;
                padding: 1rem;

                span {
                    padding: 0.3rem;
                }

            }
        }
    }
}



/*#endregion main*/

/*#region footer*/

footer {
    section {
        color: var(--secondary-color);
        background-color: var(--main-color);

        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        div {
            justify-content: space-around;
            flex-grow: 6;

            a {
                text-decoration: underline;
            }

            &:last-child {
                flex-grow: 1;
            }
        }

    }
}

/*#endregion footer*/

/*#region mediaqueries*/
/*@media screen and (min-width:576px) and (max-width:767px) {} for bonus*/


@media screen and (min-width:768px) and (max-width:991px) {}

@media screen and (min-width:992px) {}




/*#endregion mediaqueries*/